*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffeedc;
    color: #5a3e36;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    background-color: #ffd7b5;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#text-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text-container h2 {
    font-size: 2.4em;
    margin: 0;
    color: #5a3e36;
    padding-top: 70px;
}

#shelf-img {
    width: 300px;
    position: relative;
}

#shelf-center {
    width: 300px;
    margin-top: 100px;
}

#shelf-center-container {
    position: relative;
}

#cat-image{
    width: 150px;
    position: absolute;
    bottom: 5%;
    left: 0
}

#mug-image {
    width: 100px;
    position: absolute;
    bottom: 30%;
    right: 15%;
}


#shelf-down-container {
    position: relative;
    
}
#shelf-down {
    width: 300px;
}

#stack{
    width: 150px;
    position: absolute;
    bottom: 42%;
    left: 4%;
}

#title {
   position: absolute;
   top: 4%;
   left: 29%;
   font-size: 3em;
}

#hanging-image {
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.oscillating-image {
    transform-origin: 50% 0; /* Imposta il fulcro sul vertice */
    animation: oscillazione 6s linear infinite;
  }
  
  @keyframes oscillazione {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(4deg); /* Ruota a destra di 10 gradi */
    }
    50% {
      transform: rotate(0deg); /* Torna alla posizione iniziale */
    }
    75% {
      transform: rotate(-5deg); /* Ruota a sinistra di 10 gradi */
    }
    100% {
      transform: rotate(0deg); /* Torna alla posizione iniziale */
    }
  }
.list-group {
    background-color: #ffd7b5;
    cursor: pointer;
}

.list-group-item {
    background-color: #ffeedc;
    border: 1px solid #f9b28b;
}

.list-group-item .fa-circle-xmark {
    color: #d9534f;
    cursor: pointer;
}

.list-group-item .fa-circle-xmark:hover {
    color: #c9302c;
}

#input-container {
    margin-top: 20px;
}

.form-control {
    flex: 1;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.btn-success:hover {
    background-color: #449d44;
    border-color: #398439;
}
